<mat-card class="scale">
  <mat-card-title>{{key.name}}</mat-card-title>
</mat-card>
<br>
<mat-card class="scale">
  <mat-card-title>{{scaleType.name}}</mat-card-title>
</mat-card>

<div id="vexflow-player"></div>
<div class="example-button-row">
  <button mat-raised-button (click)="next()">Next</button>
  <button *ngIf="!paused" mat-raised-button (click)="pause()">Pause</button>
  <button *ngIf="paused" mat-raised-button color="primary" (click)="pause()">Pause</button>
  <button *ngIf="paused" mat-raised-button (click)="start()">Start</button>
  <button *ngIf="!paused" mat-raised-button color="primary" (click)="start()">Start</button>
  <!-- <button *ngIf="!showStaff" mat-raised-button color="warn" (click)="toggleStaff()">Show staff</button>
  <button *ngIf="showStaff" mat-raised-button (click)="toggleStaff()">Hide staff</button> -->
  </div>
  <br>

<mat-form-field color="accent" [floatLabel]="'always'"  appearance="standard">
  <mat-label>Practice interval (in seconds)</mat-label>
  <input matInput type="text" [(ngModel)]="interval" (change)="restartInterval()">
</mat-form-field>


<mat-accordion>
  <mat-expansion-panel (opened)="keysPanelOpenState = true"
                        (closed)="keysPanelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="example-list-section">
          Select keys
          
        </span>
      </mat-panel-title>
    
    </mat-expansion-panel-header>
      <mat-checkbox 
          class="example-margin"
          [checked]="allComplete(allKeys)"
          color="primary"
          [indeterminate]="someComplete(allKeys)"
          (change)="setAll($event.checked, allKeys)">
          All Keys
      </mat-checkbox>
      <mat-checkbox 
          class="example-margin"
          [checked]="naturalComplete(allKeys)"
          color="primary"
          [indeterminate]="someNaturalComplete(allKeys)"
          (change)="setAllNaturals($event.checked, allKeys)">
          All Natural Keys
      </mat-checkbox>
      <span class="example-list-section">
        <ul>
          <div *ngFor="let key of allKeys">
            <mat-checkbox [(ngModel)]="key.include"
            color = "primary">
              {{key.name}}
            </mat-checkbox>
          </div>
        </ul>
      </span>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Select Scales
      </mat-panel-title>
      
    </mat-expansion-panel-header>

    <span class="example-list-section">
      <mat-checkbox class="example-margin"
                    [checked]="allComplete(allScaleTypes)"
                    color="primary"
                    [indeterminate]="someComplete(allScaleTypes)"
                    (change)="setAll($event.checked, allScaleTypes)">
        Scales
      </mat-checkbox>
    </span>
    <span class="example-list-section">
      <ul>
        <div *ngFor="let scaleType of allScaleTypes">
          <mat-checkbox [(ngModel)]="scaleType.include"
                        color = "primary">
            {{scaleType.name}}
          </mat-checkbox>
        </div>
  </ul>
  </span>
  </mat-expansion-panel>
</mat-accordion>

<button mat-button (click)="openDialog()">About</button>